# ========================
# Cookies
# ========================
cookies_alexis.txt


# ========================
# Base de données SQLite
# ========================
*.db
*.sqlite
*.sqlite3

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environnements virtuels
venv/
env/
.env/
.venv/

# Variables d'environnement
.env
.env.local

# ========================
# Éditeurs & OS
# ========================

Thumbs.db       # Windows
.vscode/
.idea/